name: CUP Maven Plugin

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 9
      uses: actions/setup-java@v3
      with:
        java-version: '9'
        distribution: 'temurin'
    - name: Build with Ant
      run: ant -noinput -buildfile build.xml all
